
.modal-open {
    overflow: hidden
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px)
}

@media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
        transition: none
    }
}

.modal.show .modal-dialog {
    transform: none
}

.modal.modal-static .modal-dialog {
    transform: scale(1.02)
}

.modal-dialog-scrollable {
    display: flex;
    max-height: calc(100% - 1rem)
}

.modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
    flex-shrink: 0
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem)
}

.modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    height: min-content;
    content: ""
}

.modal-dialog-centered.modal-dialog-scrollable {
    flex-direction: column;
    justify-content: center;
    height: 100%
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
    max-height: none
}

.modal-dialog-centered.modal-dialog-scrollable::before {
    content: none
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0, 0, 0, 0.2);
    border-radius: .4375rem;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.17);
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .16
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.25rem;
    border-bottom: 0 solid #e9ecef;
    border-top-left-radius: .4375rem;
    border-top-right-radius: .4375rem
}

.modal-header .close {
    padding: 1.25rem;
    margin: -1rem -1rem -1rem auto
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.1;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1.5rem
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 1.25rem;
    border-top: 0 solid #e9ecef;
    border-bottom-right-radius: .4375rem;
    border-bottom-left-radius: .4375rem
}

.modal-footer>* {
    margin: .25rem
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto
    }

    .modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem)
    }

    .modal-dialog-scrollable .modal-content {
        max-height: calc(100vh - 3.5rem)
    }

    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem)
    }

    .modal-dialog-centered::before {
        height: calc(100vh - 3.5rem);
        height: min-content
    }

    .modal-content {
        box-shadow: 0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.17)
    }

    .modal-sm {
        max-width: 380px
    }
}

@media (min-width: 992px) {

    .modal-lg,
    .modal-xl {
        max-width: 800px
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px
    }
}

.modal-title {
    font-size: 1.4rem
}

.modal-fluid .modal-dialog {
    margin-top: 0;
    margin-bottom: 0
}

.modal-fluid .modal-content {
    border-radius: 0
}

.modal-primary .modal-title {
    color: #fff
}

.modal-primary .modal-header,
.modal-primary .modal-footer {
    border-color: rgba(255, 255, 255, 0.075)
}

.modal-primary .modal-content {
    background-color: #5e72e4;
    color: #fff
}

.modal-primary .modal-content .heading {
    color: #fff
}

.modal-primary .close>span:not(.sr-only) {
    color: #fff
}

.modal-secondary .modal-title {
    color: #212529
}

.modal-secondary .modal-header,
.modal-secondary .modal-footer {
    border-color: rgba(33, 37, 41, 0.075)
}

.modal-secondary .modal-content {
    background-color: #f7fafc;
    color: #212529
}

.modal-secondary .modal-content .heading {
    color: #212529
}

.modal-secondary .close>span:not(.sr-only) {
    color: #fff
}

.modal-success .modal-title {
    color: #fff
}

.modal-success .modal-header,
.modal-success .modal-footer {
    border-color: #ffffff13
}

.modal-success .modal-content {
    background-color: #1dad52;
    color: #fff
}

.modal-success .modal-content .heading {
    color: #fff
}

.modal-success .close>span:not(.sr-only) {
    color: #fff
}

.modal-info .modal-title {
    color: #fff
}

.modal-info .modal-header,
.modal-info .modal-footer {
    border-color: rgba(255, 255, 255, 0.075)
}

.modal-info .modal-content {
    background-color: #11cdef;
    color: #fff
}

.modal-info .modal-content .heading {
    color: #fff
}

.modal-info .close>span:not(.sr-only) {
    color: #fff
}

.modal-warning .modal-title {
    color: #fff
}

.modal-warning .modal-header,
.modal-warning .modal-footer {
    border-color: rgba(255, 255, 255, 0.075)
}

.modal-warning .modal-content {
    background-color: #fb6340;
    color: #fff
}

.modal-warning .modal-content .heading {
    color: #fff
}

.modal-warning .close>span:not(.sr-only) {
    color: #fff
}

.modal-danger .modal-title {
    color: #fff
}

.modal-danger .modal-header,
.modal-danger .modal-footer {
    border-color: rgba(255, 255, 255, 0.075)
}

.modal-danger .modal-content {
    background-color: #f5365c;
    color: #fff
}

.modal-danger .modal-content .heading {
    color: #fff
}

.modal-danger .close>span:not(.sr-only) {
    color: #fff
}

.modal-light .modal-title {
    color: #fff
}

.modal-light .modal-header,
.modal-light .modal-footer {
    border-color: rgba(255, 255, 255, 0.075)
}

.modal-light .modal-content {
    background-color: #adb5bd;
    color: #fff
}

.modal-light .modal-content .heading {
    color: #fff
}

.modal-light .close>span:not(.sr-only) {
    color: #fff
}

.modal-dark .modal-title {
    color: #fff
}

.modal-dark .modal-header,
.modal-dark .modal-footer {
    border-color: rgba(255, 255, 255, 0.075)
}

.modal-dark .modal-content {
    background-color: #212529;
    color: #fff
}

.modal-dark .modal-content .heading {
    color: #fff
}

.modal-dark .close>span:not(.sr-only) {
    color: #fff
}

.modal-default .modal-title {
    color: #fff
}

.modal-default .modal-header,
.modal-default .modal-footer {
    border-color: rgba(255, 255, 255, 0.075)
}

.modal-default .modal-content {
    background-color: #172b4d;
    color: #fff
}

.modal-default .modal-content .heading {
    color: #fff
}

.modal-default .close>span:not(.sr-only) {
    color: #fff
}

.modal-white .modal-title {
    color: #212529
}

.modal-white .modal-header,
.modal-white .modal-footer {
    border-color: rgba(33, 37, 41, 0.075)
}

.modal-white .modal-content {
    background-color: #fff;
    color: #212529
}

.modal-white .modal-content .heading {
    color: #212529
}

.modal-white .close>span:not(.sr-only) {
    color: #fff
}

.modal-neutral .modal-title {
    color: #212529
}

.modal-neutral .modal-header,
.modal-neutral .modal-footer {
    border-color: rgba(33, 37, 41, 0.075)
}

.modal-neutral .modal-content {
    background-color: #fff;
    color: #212529
}

.modal-neutral .modal-content .heading {
    color: #212529
}

.modal-neutral .close>span:not(.sr-only) {
    color: #fff
}

.modal-darker .modal-title {
    color: #fff
}

.modal-darker .modal-header,
.modal-darker .modal-footer {
    border-color: rgba(255, 255, 255, 0.075)
}

.modal-darker .modal-content {
    background-color: #000;
    color: #fff
}

.modal-darker .modal-content .heading {
    color: #fff
}

.modal-darker .close>span:not(.sr-only) {
    color: #fff
}
